language: generic
os: osx
osx_image: xcode8
before_install:
- export XCODEBUILD_PATH=$(which xcodebuild)
- export PATH=$PATH:$XCODEBUILD_PATH
- export PATH=$PATH:~/bin
install:
- export GOPATH=$(pwd)/Testing
- git submodule init
- git submodule update
- gem install xcpretty --user-install -n~/bin
script:
- go run Testing/tests.go
